{% extends 'base.html' %}

{% block content %}
    <h1>Supplier Information</h1>
    <table>
        <thead>
            <tr>
                <th>Supplier Name</th>
                <th>Contact Person</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.contact_person }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>{{ supplier.phone_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}